<div id="footer">
	<div class="area">
    	<div class="bottomNav">
        	
            <a data-linkid="footer-about" rel="nofollow" href="javascript:;" target="_blank">关于我们</a><span class="split">|</span>
            <a data-linkid="footer-contact" rel="nofollow" href="javascript:;" target="_blank">联系方式</a><span class="split">|</span>
            <a data-linkid="footer-adhelp" rel="nofollow" href="javascript:;" target="_blank">广告服务</a><span class="split">|</span>
            <a data-linkid="footer-gszz" rel="nofollow" href="javascript:;" target="_blank">法律援助</a><span class="split">|</span>
            <a data-linkid="footer-join" rel="nofollow" href="javascript:;" target="_blank">加入我们</a><span class="split">|</span>
            <a data-linkid="footer-pay" rel="nofollow" href="javascript:;" target="_blank">支付方式</a><span class="split">|</span>
            <a data-linkid="footer-charlist" target="_blank" href="javascript:;">技术支持</a><span class="split">|</span>        
        </div>
        
        <div class="copyright">{$G[setting][copyright]}   {$G[setting][icp]}</div>
    </div>
</div>

</body>
</html>